html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  /* overflow: hidden; */
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2d76e5;
}

.login-page-container,
.forpass-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: #fff;
}

.sun-img {
  position: absolute;
  width: 140px;
  height: 140px;
  margin-top: 5vh;
  margin-right: 50vw;
}

.login-page-container h1 {
  font-size: 30px;
  padding-top: 5vh;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form-container div {
  display: flex;
  flex-direction: column;
}

.login-form-container label {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.login-form-container input,
.forpass-form-container input {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: 13px;
  width: 20vw;
  height: 1.5vh;
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 49%;
  margin-left: 39vh;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}

.login-form-container h5 {
  display: flex;
  align-items: flex-start;
  font-weight: lighter;
}

.login-form-container button {
  padding: 10px 40px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.centered-icon {
  position: relative;
  margin-top: 5vh;
}

.padlock-icon {
  font-size: 90px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 100%;
}

.forpass-page-container h1 {
  font-size: 23px;
  font-weight: normal;
}

.forpass-page-container span {
  width: 250px;
  font-size: 13px;
  color: #898989;
  margin-top: -8px;
}

.forpass-form-container label {
  margin: 0 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.send-link-button {
  padding: 10px 30px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.go-back-button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 15px;
  cursor: pointer;
}

.footer-container {
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  left: 15vw;
  bottom: 10vh;
}

.footer-container p {
  font-size: 20px;
}

.footer-container li {
  padding: 10px;
}

.saly-img {
  position: absolute;
  width: 30vw;
  height: 60vh;
  right: 8vh;
  bottom: 7.5vh;
}

/*========== COURSE ==========*/
.Modul-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  align-items: center;
  margin-left: 290px;
  margin-right: 20px;
}
.Modul-header p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.Modul-header,
.Modul-header2 {
  width: 100%;
  text-align: center;
  display: flex;
}
.Modul-header2 p {
  color: #fff;
  font-size: 18px;
  display: inline;
  margin-right: 10px;
  margin-top: -20px;
}
section {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 30px;
}
.Modul-topic {
  width: calc(30.333% - 10px);
  background-color: #fff;
  box-shadow: 0px 10px 3px rgba(36, 39, 37, 0.15);
  display: flex;
  border-radius: 10px;
}
.Modul-topic img {
  max-width: 13%;
  height: auto;
  margin: 15px;
}
.Modul-topic p {
  color: #090909;
  padding: 10px;
  font-size: 18px;
}

/*========== COURSE TABLE ==========*/
.Modul-table {
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin-right: 20px;
}
.Modul-header3 p,
.Modul-header3 {
  text-align: left;
  margin-right: 49vh;
  display: flex;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.Add-modul {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 35px;
  margin-top: 35px;
  height: 20px;
  padding: 0px 20px 15px;
}
.Add-modul p {
  color: #2d76e5;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}
.Modul-img {
  width: 17px;
  margin-right: 15px;
  padding-top: 15px;
}
.Table-section {
  display: flex;
  flex-direction: column;
  height: 98vh;
  align-items: center;
  margin-top: 18px;
  margin-left: 280px;
  margin-right: 10px;
}
.Table-modul {
  display: flex;
  flex-direction: column;
  background-color: #fffcfc;
  position: absolute;
  height: 80vh;
  border-radius: 10px;
  /* align-items: center; */
}
.styledTable {
  width: 90%;
  border-collapse: collapse;
  margin: 30px;
  min-width: 135vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(36, 39, 37, 0.15);
  font-size: 20px;
  overflow: hidden;
}

.styledTable th {
  border: 1px solid #2d76e5;
  background-color: #2d76e5;
  color: #fff;
  padding: 15px;
  text-align: left;
}

.styledTable td {
  border-bottom: 1px solid #c2d6f3;
  padding: 15px;
  text-align: left;
}

.Edit-table {
  text-decoration: none;
  padding: 5px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

/*========== ADD MODULE ==========*/
.Modul-container2 {
  height: 95vh;
  align-items: center;
}

.Add-modul2 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column;
  align-items: flex-start; */
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  height: 80vh;
  max-width: 135vh;
  padding-right: 82vh;
  padding-left: 30px;
  /* padding-right: 26px; */
}
.required {
  color: red;
  display: inline-block;
}
.Add-modul2 p {
  font-size: 23px;
  font-weight: bolder;
  /* margin-right: 90vh; */
}
.Form-modul {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e2f8ff;
  border-radius: 10px;
  position: absolute;
  text-align: left;
  margin-top: 60px;
  padding-bottom: 39vh;
  max-width: 133vh;
}
.Form-modul p {
  color: black;
  margin-bottom: 15px;
  margin-left: 20px;
  font-weight: lighter;
  margin-left: 30px;
  font-size: 20px;
}
input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  font-size: 15px;
  padding: 13px 15px;
  border: 2px solid #b7b7b7;
  margin-left: 30px;
  border-radius: 10px;
}
#modul::placeholder {
  color: rgb(204, 204, 204);
  font-weight: bold;
}
.Form-modul2 p.info,
.Form-modul p.info {
  color: rgb(163, 163, 163);
  font-size: 15px;
  padding-right: 6vh;
  font-weight: bold;
}

.Button-modul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
button.Cancel {
  color: #fff;
  background-color: red;
  border-radius: 10px;
  margin-top: 71vh;
  margin-bottom: 30px;
  padding: 0px 45px;
  outline: none;
  border: none;
  cursor: pointer;
}
button.Save {
  color: #fff;
  background-color: #2d76e5;
  border-radius: 10px;
  margin-top: 71vh;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 0px 40px;
  outline: none;
  border: none;
  cursor: pointer;
}
/*========== TOPIC TABLE ==========*/
.Table-section2 {
  display: flex;
  flex-direction: column;
  height: 98vh;
  align-items: center;
  margin-top: 0px;
  margin-left: 280px;
  margin-right: 10px;
}

/*========== ADD TOPIC==========*/
.Form-modul2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e2f8ff;
  border-radius: 10px;
  position: absolute;
  text-align: left;
  margin-top: 60px;
  padding-bottom: 36vh;
  max-width: 133vh;
}
.Form-modul2 p {
  color: black;
  margin-bottom: 15px;
  margin-left: 20px;
  font-weight: lighter;
  font-size: 20px;
}
.form-container {
  display: flex;
  justify-content: space-between;
}
.form-section-kanan,
.form-section-kiri {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.form-section-kanan p {
  margin-left: -40vh;
}
.required-kiri,
.required-kanan {
  color: red;
  display: inline-block;
  padding-right: 25vh;
}
input[type="topik"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 360px;
  font-size: 15px;
  padding: 13px 15px;
  border: 2px solid #b7b7b7;
  margin-left: 20px;
  border-radius: 10px;
}
input[type="modul"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 360px;
  font-size: 15px;
  padding: 13px 15px;
  border: 2px solid #b7b7b7;
  margin-left: 3vh;
  border-radius: 10px;
}
#topik::placeholder {
  color: rgb(204, 204, 204);
  font-weight: bold;
}
.Button-modul2 {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/*========== EDIT MODUL ==========*/
.Modul-container3 {
  height: 95vh;
  align-items: center;
  margin-left: 5rem;
}
.Remove-modul {
  /* display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 35px;
  margin-top: 35px;
  height: 20px;
  padding: 15px 15px 15px;
  justify-items: center; */
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  padding: 0px 30px 0px;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: bold;
}
.Remove-modul p {
  color: #fff;
  /* background-color: white; */
}
.Add-modul p {
  color: #2d76e5;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}
.Modul-img {
  width: 17px;
  margin-right: 15px;
  padding-top: 15px;
}
.Edit-popup {
  font-size: 29px;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.add-module-text span {
  padding-left: 10px;
  font-size: 18px;
  font-weight: lighter;
}
.add-module-text p {
  font-size: 16px;
  font-weight: lighter;
}
.add-module-text h1 {
  margin-top: 25px;
  font-size: 25px;
  margin-bottom: -10px;
}
.Add-modul3 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column;
  align-items: flex-start; */
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  height: 80vh;
  max-width: 133vh;
  padding-left: 35px;
  padding-right: 55px;
}
.Add-modul3 p {
  font-size: 23px;
  font-weight: bolder;
  color: #000;
  margin-right: 80vh;
}
.Form-modul p {
  color: black;
  margin-bottom: 15px;
  margin-left: 20px;
  font-weight: lighter;
  margin-left: 30px;
  font-size: 20px;
}
/*========== PRETEST ==========*/
.ButtomTable p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -15px;
  margin-right: 62rem;
  margin-left: 39px;
}
.Modul-header4 h1 {
  text-align: left;
  display: flex;
  margin-top: 27px;
  margin-bottom: 2px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}
.Modul-header4 p {
  color: #fff;
  font-size: 18px;
  display: inline;
  font-size: 20px;
  margin-right: 88vh;
}
.Table-section {
  display: flex;
  flex-direction: column;
  height: 98vh;
  align-items: center;
  margin-top: 18px;
  margin-left: 280px;
  margin-right: 10px;
}
.Table-modul {
  display: flex;
  flex-direction: column;
  background-color: #fffcfc;
  position: absolute;
  height: 80vh;
  border-radius: 10px;
}
.styledTable2 {
  width: 90%;
  border-collapse: collapse;
  margin: 30px;
  max-width: 135vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(36, 39, 37, 0.15);
  font-size: 20px;
  overflow: hidden;
}

.styledTable2 th {
  border: 1px solid #2d76e5;
  background-color: #2d76e5;
  color: #fff;
  padding: 13px;
  text-align: left;
  font-weight: lighter;
}

.styledTable2 td {
  border-bottom: 1px solid #c2d6f3;
  padding: 15px;
  text-align: left;
}
.styledTable2 p.Module-Name {
  margin: 0;
  font-weight: lighter;
}
.styledTable2 p.Subname {
  color: #888;
  margin: 0;
  font-weight: lighter;
}
.styledTable2 .Edit-table {
  text-decoration: none;
  padding: 5px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
