html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2d76e5;
}

.login-page-container,
.forpass-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: #fff;
}

.sun-img {
  position: absolute;
  width: 140px;
  height: 140px;
  margin-top: 5vh;
  margin-right: 50vw;
}

.login-page-container h1 {
  font-size: 30px;
  padding-top: 5vh;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form-container div {
  display: flex;
  flex-direction: column;
}

.login-form-container label {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.login-form-container input,
.forpass-form-container input {
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 5px;
  font-size: 13px;
  width: 20vw;
  height: 1.5vh;
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 49%;
  margin-left: 39vh;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}

.login-form-container h5 {
  display: flex;
  align-items: flex-start;
  font-weight: lighter;
}

.login-form-container button {
  padding: 10px 40px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.centered-icon {
  position: relative;
  margin-top: 5vh;
}

.padlock-icon {
  font-size: 90px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 100%;
}

.forpass-page-container h1 {
  font-size: 23px;
  font-weight: normal;
}

.forpass-page-container span {
  width: 250px;
  font-size: 13px;
  color: #898989;
  margin-top: -8px;
}

.forpass-form-container label {
  margin: 0 10px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.send-link-button {
  padding: 10px 30px;
  background-color: #2d76e5;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.go-back-button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 15px;
  cursor: pointer;
}

.footer-container {
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
  left: 15vw;
  bottom: 10vh;
}

.footer-container p {
  font-size: 20px;
}

.footer-container li {
  padding: 10px;
}

.saly-img {
  position: absolute;
  width: 30vw;
  height: 60vh;
  right: 8vh;
  bottom: 7.5vh;
}

/* COURSE */
.Modul-container {
  height: 95vh;
  flex-direction: column;
  align-items: center;
  background-color: #2d76e5;
  margin-left: 280px;
  margin-right: 20px;
}
.Modul-header p {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
.Modul-header,
.Modul-header2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
}
.Modul-header2 p {
  color: #fff;
  font-size: 18px;
  display: inline;
  margin-right: 10px;
  margin-top: -20px;
}
section {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 30px;
}
.Modul-topic {
  width: calc(30.333% - 10px);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  border-radius: 10px;
}
.Modul-topic img {
  max-width: 25%;
  height: auto;
  margin: 10px;
}
.Modul-topic p {
  color: #090909;
  padding: 10px;
  font-size: 18px;
}
